---
import AddTo from "@/components/AddTo.astro"
---

<section class="extension wrapper">
  <header class="extension-header">
    <h2>Download the extension</h2>
    <p>
      We’ve got more browsers in the pipeline. Please do let us know if you’ve 
      got a favourite you’d like us to prioritize.
    </p>
  </header>
  <div class="add-to-wrapper">
    <AddTo
      browser="chrome"
      version={62}
    />
    <AddTo
      browser="firefox"
      version={55}
    />
    <AddTo
      browser="opera"
      version={46}
    />
  </div>
</section>

<style>
  .extension {
    padding-top: 1rem;
    padding-bottom: 7rem;
  }

  .extension-header {
    margin-inline: auto;
    max-width: 47ch;
    text-align: center;
    margin-bottom: 4rem;
  }

  .extension-header h2 {
    margin-bottom: 1.3rem;
    font-size: 1.75rem
  }

  .add-to-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2rem;
  }

  @media (width <= 768px) {
    .add-to-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 3rem;
    }
  }

  @media (width <= 768px) {
    .extension {
      padding-top: 9rem
    }
  }

  @media (width <= 500px) {
    .extension {
      padding-top: 13rem
    }
  }
</style>
